<div class="sheet-container" [formGroup]="characterForm">

  <header class="sheet-header" formGroupName="info">
    <div class="profile-block">
      <div class="avatar-placeholder">
        IMG
      </div>
      <div class="basic-info">
        <div class="title-row">
          <h1 class="char-name">
            <span
              style="position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border: 0;">Imię
              postaci</span>
            <input formControlName="name" class="header-input" placeholder="Imię">
          </h1>
          @if (canEditCharacter) {
          <button (click)="onSave()" class="save-btn">ZAPISZ</button>
          }
        </div>
        <div class="sub-info">
          <label>
            Rasa:
            <input formControlName="race" class="header-input small">
          </label>
          <label>
            Profesja:
            <input formControlName="profession" class="header-input small">
          </label>
        </div>
      </div>
    </div>

    <div class="motivation-block">
      <div class="motivation-row">
        <label class="label">
          Ambicja:
          <input formControlName="ambition" class="cyber-line-input">
        </label>
      </div>
      <div class="motivation-row">
        <label class="label text-danger">
          Nemezis:
          <input formControlName="nemesis" class="cyber-line-input">
        </label>
      </div>
    </div>
  </header>

  <main class="attributes-layout" formGroupName="attributes">

    <section class="column">
      <h2 class="section-title">FIZYCZNE</h2>
      @for (attr of physicalAttributes; track attr.key) {
      @if (getAttributeGroup(attr.key)) {
      <app-attribute-card [title]="attr.label" [parentForm]="getAttributeGroup(attr.key)" attributeControlName="value"
        skillsArrayName="skills">
      </app-attribute-card>
      }
      }
    </section>

    <section class="column">
      <h2 class="section-title">UMYSŁOWE</h2>
      @for (attr of mentalAttributes; track attr.key) {
      @if (getAttributeGroup(attr.key)) {
      <app-attribute-card [title]="attr.label" [parentForm]="getAttributeGroup(attr.key)" attributeControlName="value"
        skillsArrayName="skills">
      </app-attribute-card>
      }
      }
    </section>

  </main>
</div>